*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar-own{
    background-color: black;
    
}
.bottons-right{
    margin-right: 400px;
    
}
#uber-image{
    margin-left: 300px;
}
#uber-image:hover{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,46,91,1) 87%);
    color: white !important;
}
.container-own > a{
    color: white;
}

.image{
    padding: 5px;
    width: 100%;
    height: auto;
}
.image-index{
    max-width: 100vw;
    max-height: 90vh;
    position: relative;
    z-index: 1;
}
.card-edit > p {
    margin-top: 20px;
    background-color: white;
    color: black;
    
}
.card-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}
.card{
    width: 30vw;
    height: 50vh;
    
}
#card-position{
    border: 1px solid black;
    position: absolute;
    top: 200px;
    left: 500px;
    right: 500px;
    bottom: 250px;
    z-index: 2;
}
#city-text-position{
    border: 1px solid black;
    border-style: groove;
    border-radius: 10px;
    position: absolute;
    top: 1000px;
    left: 300px;
    right: 700px;
    bottom: 250px;
    z-index: 2;

}

.card-body{
    background: white;
}
.card-body > p {
    margin: 20px;
    background-color: white;
    color: black;
    
}
.card-body > h1 {
    margin: 20px;
    background-color: white;
    color: black;
    
}
#button-card{
    margin: 20px;
}
#text-street{
    color: #252525;
    margin-top: 50px;
    margin-left: 15vw;
    
    
}
ul > li > a:hover{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,46,91,1) 87%);
    color: white !important;
    
}

